apiVersion: v1
kind: Service
metadata:
  name: "dcloud-bastion-ingress-$DCLOUD_USER"
spec:
  selector:
    app: "dcloud-bastion-ingress-$DCLOUD_USER"
  ports:
    - name: http-in
      port: 80
      targetPort: 80
      protocol: TCP
